nav.nav
	#logo.nav__logoMenu
		span.nav__menuIcon
		span.nav__logo room

	ul.menu
		li.menu__item
			a.menu__link(href='#') &chi;
		li.menu__item
			a.menu__link(href='#') Homme
		li.menu__item
			a.menu__link(href='#') Shop
		li.menu__item
			a.menu__link(href='#') About
		li.menu__item
			a.menu__link(href='#') Contact
