.homeDown {
	&__left,
	&__center,
	&__rigth {
		height: 361px;
		width: 100%;
	}

	&__left {
		background-image: url('./src/images/image-about-dark.jpg');
	}

	&__rigth {
		background-image: url('./src/images/image-about-light.jpg');
	}

	&__rigth,
	&__left {
		background-repeat: no-repeat;
		background-size: 100% 100%, contain;
	}

	&__center {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: flex-start;
		padding: 0 1.5rem;
		font-size: 0.9rem;
	}

	&__title {
		font-size: 1.5rem;
		color: rgb(250, 235, 215);
	}
	&__text {
		color: #fff;
		font-size: 1.2rem;
	}
}
